.main-layout {
  background-color: white;
  padding: 20px;
}

.search-form {
  display: flex;
  gap: 8px;
}

.search-form-item {
  flex: 1;
}

@media screen and (min-width: 768px) {
  .main-layout {
    padding: 100px;
  }
}
